/* ==UserStyle==
@name         Armory3D API - Dark Mode
@namespace    https://gitlab.com/MoritzBrueckner/armory3d-api-dark-mode
@version      1.0.0
@description  Dark mode for the API of Armory3D (based on it's main page).
@author       Moritz Brueckner
@license      The Unlicense (https://gitlab.com/MoritzBrueckner/armory3d-api-dark-mode/blob/master/LICENSE)
@homepageURL  https://gitlab.com/MoritzBrueckner/armory3d-api-dark-mode
@supportURL   https://gitlab.com/MoritzBrueckner/armory3d-api-dark-mode/issues
@updateURL    https://gitlab.com/MoritzBrueckner/armory3d-api-dark-mode/raw/master/armory3d-api.user.css

@var color accent  "Color: Accent       " #CF2B43
==/UserStyle== */
@-moz-document url-prefix("https://armory3d.org/api/") {
    html {
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-color: var(--accent) #1c1c1c !important;
    }

    body {
        background-color: #333;
        color: #eee;
    }

    html::-webkit-scrollbar-track {
        background: #1c1c1c !important;
    }
    html::-webkit-scrollbar-thumb {
        background-color: var(--accent) !important;
    }

    .navbar {
        margin: 0px;
        height: 80px !important;
    }

    .navbar-inner {
        background-color: #1c1c1c !important;
        padding: 10px;
        border: none;
    }

    .navbar .brand::before {
        background-image: url(https://armory3d.org/img/Logo.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
        width: 30px;
        height: 30px;
        content: "";
        margin-right: 10px;
    }

    .navbar .brand {
        padding: 0px !important;
        margin: 0px !important;
        font-family: "Open Sans", sans-serif;
        font-size: 1.4em;
        font-weight: bold;
        color: #eee !important;
    }

    .well {
        background-color: #1c1c1c;
        border: none;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        background-color: var(--accent);
        color: #fff;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .nav-list > .active > a.treeLink,
    .nav-list > .active > a.treeLink:hover,
    .nav-list > .active > a.treeLink:focus {
        background-color: #333;
        color: #eee;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .nav-header {
        color: #999;
    }

    .expanded > .nav-header {
        color: #fff;
    }

    .indent {
        border-color: var(--accent);
    }

    h1 {
        color: #fff;
    }

    a {
        color: var(--accent);
    }

    a:hover,
    a:focus {
        color: #eee;
    }

    code {
        background: #333;
        color: #eee;
        border: none;
    }

    h3 code,
    p code {
        box-shadow: none;
        background: #1c1c1c;
        color: #eee;
    }

    h3 code {
        padding: 8px 8px;
    }

    code .identifier {
        color: #eee;
        padding: 0;
    }

    code .type {
        color: var(--accent);
    }

    .label,
    .badge {
        background: #154375;
    }
    
    .label.label-meta {
        background: #8641db;
    }
    
    .label.label-inline {
        background: #21992f;
    }

    input {
        background: #333 !important;
        color: #eee !important;
        border: none !important;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus {
        color: #eee;
        box-shadow: none;
    }

    .input-append .add-on,
    .input-prepend .add-on {
        border: none;
        background: var(--accent);
    }

    #searchForm {
        margin-bottom: 0px;
    }

    .site-footer {
        background-color: #1c1c1c !important;
    }

    .copyright > p {
        color: #eee !important;
    }

    .section {
        border-bottom: 10px solid var(--accent);
    }

    .page-header {
        border-bottom: none;
    }

    .field + .field {
        border-top: 1px solid #1c1c1c;
        margin-top: 10px;
    }

    .javadoc {
        color: var(--accent);
        font-weight: bold;
    }

    table.params {
        border-left: none;
    }

    table.params th {
        background: #1c1c1c;
    }

    .table-bordered th,
    .table-bordered td {
        border-left: none;
    }

    .table th,
    .table td {
        border-bottom: none;
    }

    .table-bordered {
        border-collapse: collapse;
        border: none;
    }

    .table tr:not(:first-child) {
        border-top: 1px solid #1c1c1c;
    }

    .table {
        width: calc(100% - 20px);
    }

    .doc {
        margin-left: 20px;
    }
    
    .alert {
        background-color: #f24d1a;
        color: #000;
        border: none;
        text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    }
}
